/* -*-coding:shift_jis-unix-*-
/* $Id: property.rc,v 1.8 2006/01/28 16:17:59 fumi Exp $ */


#define PROP_HEIGHT 200

LANGUAGE_JAPANESE

PROP_PAGE_MISC DIALOG DISCARDABLE  0, 0, 120, PROP_HEIGHT
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "その他"
FONT 10, "ＭＳ ゴシック" /* width 全角で 8 ？ */
BEGIN
    CONTROL     	"奇数アドレス多バイト転送命令を警告（デベロッパ向け）",
			IDC_WARN_ODD, "Button",
			BS_AUTOCHECKBOX | WS_TABSTOP,
			10, 10, 220, 10
    CONTROL	        "サウンド有効",IDC_ENABLE_SOUND,
			"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
			10, 25, 140, 10
    CONTROL         	"CPU Timer 有効（未完成）",IDC_ENABLE_CPU_TIMER,
			"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
			10, 40, 140, 10

    CONTROL         	"複数起動しない（次回起動時から有効）",IDC_ONLY_A_PROCESS,
			"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
			10, 55, 180, 10

    CONTROL         	"ステータスバーの表示",IDC_ENABLE_STATUS_BAR,
			"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
			10, 70, 140,10
    CONTROL         	"タイトルバーもいらない",IDC_NO_CAPTION,
			"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
			10, 115, 140,10
    CONTROL         	"ISO8859-1を使用する",IDC_ISO8859_1,
			"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
			10, 130, 140,10
END

PROP_PAGE_LCD DIALOG DISCARDABLE  0, 0, 120, PROP_HEIGHT
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "画面"
FONT 10, "ＭＳ ゴシック" /* width 全角で 8 ？ */
BEGIN
    CONTROL        	"画面を 102x64 にする", IDC_LCD_102X64,
			"Button", BS_AUTOCHECKBOX | WS_TABSTOP,
			10, 10, 140, 10
    CONTROL         	"縦表示",IDC_FLIP,
			"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
			10, 25, 140, 10
    CONTROL         	"液晶の残像効果のエミュレート",IDC_AFTER_IMAGE,
			"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
			10, 40, 140, 10
    LTEXT 		"残像効果値", IDT_AI_VALUE, 10, 55, 90, 10
    EDITTEXT		IDET_AI_VALUE, 50, 55, 30, 12, ES_AUTOHSCROLL

    CONTROL         	"アンチエイリアス",IDC_ANTI_ALIASES,
			"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
			10, 75, 140, 10
    LTEXT 		"倍率", IDT_LCD_EXPANSION, 10, 90, 90, 10
    EDITTEXT		IDET_LCD_EXPANSION, 30, 90, 30, 12, ES_AUTOHSCROLL


    CONTROL         	"背景透明化",IDC_TRANSPARENT,
			"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
			10, 110, 140, 10
    CONTROL         	"半透明化",IDC_ALPHA,
			"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
			10, 125, 140, 10
    LTEXT 		"アルファ値", IDT_ALPHA_VALUE, 10, 140, 90, 10
    EDITTEXT		IDET_ALPHA_VALUE, 50, 140, 30, 12, ES_AUTOHSCROLL

END

PROP_PAGE_SPEED DIALOG DISCARDABLE  0, 0, 117, PROP_HEIGHT
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "速度"
FONT 10, "ＭＳ ゴシック" /* width 全角で 8 ？ */
BEGIN
    LTEXT 	"CPU 速度（％）(&C)", IDT_CPU_SPEED, 10, 10, 90, 10
    EDITTEXT	IDET_CPU_SPEED, 15, 25, 30, 12, ES_AUTOHSCROLL

    LTEXT	"タイマー速度（-14 ～ +14）(&T)", IDT_TIMER_SPEED, 10, 50, 120, 10
    EDITTEXT	IDET_TIMER_SPEED, 15, 65, 30, 12, ES_AUTOHSCROLL
    PUSHBUTTON      "デフォルトに戻す(&A)", IDPB_RETURN_TO_DEFAULT_CPU, 80, 25, 80, 15
    PUSHBUTTON      "デフォルトに戻す(&B)", IDPB_RETURN_TO_DEFAULT_TIMER, 80, 65, 80, 15
END

PROP_PAGE_DIRECTORY DIALOG DISCARDABLE  0, 0, 117, PROP_HEIGHT
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ディレクトリ"
FONT 10, "ＭＳ ゴシック" /* width 全角で 8 ？ */
BEGIN
    LTEXT	"仮想ルートディレクトリ", IDT_ROOT_DIRECTORY, 10, 14, 400, 10
    EDITTEXT	IDET_ROOT_DIRECTORY, 16, 30, 130, 12, ES_AUTOHSCROLL
    PUSHBUTTON      "参照", IDPB_ROOT_DIRECTORY, 150, 28, 30, 15
END

PROP_PAGE_LOG DIALOG DISCARDABLE  0, 0, 117, PROP_HEIGHT
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ログ"
FONT 10, "ＭＳ ゴシック" /* width 全角で 8 ？ */
BEGIN
    CONTROL	     "出力しない",IDC_RADIO_LOG_NONE,"Button",BS_AUTORADIOBUTTON,
    		     14,30,100,10
    CONTROL	     "標準エラー出力",IDC_RADIO_LOG_STDERR,"Button",BS_AUTORADIOBUTTON,
    		     14,40,100,10
    CONTROL	     "イベントログ",IDC_RADIO_LOG_EVENT,"Button",BS_AUTORADIOBUTTON,
    		     14,50,100,10
    CONTROL	     "ファイルに出力する",IDC_RADIO_LOG_FILE,"Button",BS_AUTORADIOBUTTON,
    		     14,60,100,10

    EDITTEXT        IDET_LOG_FILE_NAME,19,72,140,12, ES_AUTOHSCROLL
    PUSHBUTTON      "選択",IDPB_LOG_FILE_SELECT, 170,69,23,16

    GROUPBOX        "ログの種類", IDC_STATIC,6,20,190,72


    LTEXT	"ログレベル", IDT_LOG_LEVEL, 10, 102, 50, 10
    EDITTEXT	IDET_LOG_LEVEL, 60, 100, 20, 12, ES_AUTOHSCROLL
END

LANGUAGE_ENGLISH

PROP_PAGE_MISC DIALOG DISCARDABLE  0, 0, 120, PROP_HEIGHT
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Other"
FONT 10, "Times New Roman"
BEGIN
    CONTROL     	"Warn odd access (for developper)",
			IDC_WARN_ODD, "Button",
			BS_AUTOCHECKBOX | WS_TABSTOP,
			10, 10, 140, 10
    CONTROL	        "Enable sound (need to re-execute)",IDC_ENABLE_SOUND,
			"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
			10, 25, 140, 10
    CONTROL         	"Enable CPU Timer (under construction)",IDC_ENABLE_CPU_TIMER,
			"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
			10, 40, 140, 10

    CONTROL         	"Disable plural processes",IDC_ONLY_A_PROCESS,
			"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
			10, 55, 180, 10

    CONTROL         	"Show status bar",IDC_ENABLE_STATUS_BAR,
			"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
			10, 70, 140,10
    CONTROL         	"Hide title bar",IDC_NO_CAPTION,
			"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
			10, 115, 140,10
    CONTROL         	"Use ISO8859-1 font",IDC_ISO8859_1,
			"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
			10, 130, 140,10
END

PROP_PAGE_LCD DIALOG DISCARDABLE  0, 0, 120, PROP_HEIGHT
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "LCD"
FONT 10, "Times New Roman"
BEGIN
    CONTROL        	"LCD size 102x64", IDC_LCD_102X64,
			"Button", BS_AUTOCHECKBOX | WS_TABSTOP,
			10, 10, 140, 10
    CONTROL         	"Flip",IDC_FLIP,
			"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
			10, 25, 140, 10
    CONTROL         	"Enable a like lcd showing (enable afterimage)",IDC_AFTER_IMAGE,
			"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
			10, 40, 140, 10
    LTEXT 		"afterimage value", IDT_AI_VALUE, 10, 55, 90, 10
    EDITTEXT		IDET_AI_VALUE, 70, 55, 30, 12, ES_AUTOHSCROLL

    CONTROL         	"Enable anti aliases",IDC_ANTI_ALIASES,
			"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
			10, 75, 140, 10

    LTEXT 		"Lcd expansion", IDT_LCD_EXPANSION, 10, 90, 90, 10
    EDITTEXT		IDET_LCD_EXPANSION, 80, 90, 30, 12, ES_AUTOHSCROLL


    CONTROL         	"Enable transparency",IDC_TRANSPARENT,
			"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
			10, 110, 140, 10
    CONTROL         	"Enable translucency",IDC_ALPHA,
			"Button",BS_AUTOCHECKBOX | WS_TABSTOP,
			10, 125, 140, 10
    LTEXT 		"Translucent value", IDT_ALPHA_VALUE, 10, 140, 90, 10
    EDITTEXT		IDET_ALPHA_VALUE, 80, 140, 30, 12, ES_AUTOHSCROLL

END

PROP_PAGE_SPEED DIALOG DISCARDABLE  0, 0, 117, PROP_HEIGHT
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Speed"
FONT 10, "Times New Roman"
BEGIN
    LTEXT 	"CPU speed (%) (&C)", IDT_CPU_SPEED, 10, 10, 90, 10
    EDITTEXT	IDET_CPU_SPEED, 15, 25, 30, 12, ES_AUTOHSCROLL

    LTEXT	"Timer speed ( from -14 to +14 )(&T)", IDT_TIMER_SPEED, 10, 50, 120, 10
    EDITTEXT	IDET_TIMER_SPEED, 15, 65, 30, 12, ES_AUTOHSCROLL
    PUSHBUTTON      "Default(&A)", IDPB_RETURN_TO_DEFAULT_CPU, 80, 25, 80, 15
    PUSHBUTTON      "Default(&B)", IDPB_RETURN_TO_DEFAULT_TIMER, 80, 65, 80, 15
END


PROP_PAGE_DIRECTORY DIALOG DISCARDABLE  0, 0, 117, PROP_HEIGHT
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Directory"
FONT 10, "Times New Roman"
BEGIN
    LTEXT	"Virtual root directory", IDT_ROOT_DIRECTORY, 10, 14, 400, 10
    EDITTEXT	IDET_ROOT_DIRECTORY, 16, 30, 120, 12, ES_AUTOHSCROLL
    PUSHBUTTON      "...", IDPB_ROOT_DIRECTORY, 140, 28, 20, 15
END


PROP_PAGE_LOG DIALOG DISCARDABLE  0, 0, 117, PROP_HEIGHT
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Log"
FONT 10, "Times New Roman"
BEGIN
    CONTROL	     "no output",IDC_RADIO_LOG_NONE,"Button",BS_AUTORADIOBUTTON,
    		     14,30,100,10
    CONTROL	     "stderr",IDC_RADIO_LOG_STDERR,"Button",BS_AUTORADIOBUTTON,
    		     14,40,100,10
    CONTROL	     "event log",IDC_RADIO_LOG_EVENT,"Button",BS_AUTORADIOBUTTON,
    		     14,50,100,10
    CONTROL	     "file",IDC_RADIO_LOG_FILE,"Button",BS_AUTORADIOBUTTON,
    		     14,60,100,10

    EDITTEXT        IDET_LOG_FILE_NAME,19,72,140,12, ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDPB_LOG_FILE_SELECT, 170,69,23,16

    GROUPBOX        "Log type", IDC_STATIC,6,20,190,72


    LTEXT	"log level", IDT_LOG_LEVEL, 10, 102, 50, 10
    EDITTEXT	IDET_LOG_LEVEL, 60, 100, 20, 12, ES_AUTOHSCROLL
END
