/* -*-coding:shift_jis-unix-*- */
/* $Id: version.rc,v 1.5 2008/07/26 06:43:08 fumi Exp $ */

#include <windows.h>
#include <commctrl.h>

#include "winresource.h"
#include "language.h"

LANGUAGE_JAPANESE

//version
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,0,0
 FILETYPE 0x1L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041104b0"
        BEGIN
            VALUE "Comments", "http://megadriver.yi.org/~fumi/\0"
            VALUE "FileDescription", "Aurex - Ruputer Emulator(version 2 RC4)\0"
            VALUE "FileVersion", "0.1.0.0\0"
            VALUE "InternalName", "aurex2\0"
            VALUE "LegalCopyright", "Copyright (c) 2003-2008 Fumihiko MACHIDA\0"
            VALUE "OriginalFilename", "Aurex.exe\0"
            VALUE "ProductName", "Aurex\0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0411, 0x04b0
    END
END

LANGUAGE_ENGLISH


//version
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,1,0,0
 FILETYPE 0x1L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041104b0"
        BEGIN
            VALUE "Comments", "http://megadriver.yi.org/~fumi/\0"
            VALUE "FileDescription", "Aurex - Ruputer Emulator(version 2 RC4)\0"
            VALUE "FileVersion", "0.1.0.0\0"
            VALUE "InternalName", "aurex2\0"
            VALUE "LegalCopyright", "Copyright (c) 2003-2008 Fumihiko MACHIDA\0"
            VALUE "OriginalFilename", "Aurex.exe\0"
            VALUE "ProductName", "Aurex\0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0411, 0x04b0
    END
END
